<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @language.name %>
</p>

<p>
  <strong>Localised name:</strong>
  <%= @language.localised_name %>
</p>

<p>
  <strong>Iso2:</strong>
  <%= @language.iso2 %>
</p>

<p>
  <strong>Iso3:</strong>
  <%= @language.iso3 %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
