<p id="notice"><%= notice %></p>

<p>
  <strong>Phrase:</strong>
  <%= @card.phrase %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @card.deck %>
</p>

<p>
  <strong>Status:</strong>
  <%= @card.status %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
