<p id="notice"><%= notice %></p>

<h1><%= @deck.to_s %></h1>

<p>
  <strong>Cards:</strong>
  <%= @deck.cards.count %>
</p>

<p>
  <strong>User:</strong>
  <%= @deck.user %>
</p>

<p>
  <strong>Language:</strong>
  <%= link_to @deck.language, language_path(@deck.language) %>
</p>

<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
